
doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title P&B
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')       
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')  
    script(src="js/jquery.min.js")
    link(rel="stylesheet" href="/bootstrap/css/jquery.Jcrop.css"  type="text/css")   
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      body {
      min-width:768px;
      font-family:roboto-thin;
      }
      #crop {
          display:none;
      }
      #cropresult {
          border:2px solid #ddd;
      }
      .mini{
          margin:5px;
      }     
  body 
    .container(style='background-color:#eee;')
      .row(style='background-color:white;')
        .col-xs-12
          h2 Hey
      .row.optlist(style='display:none;')
        input(id='ar_lock',type='checkbox')
        input(id='size_lock',type='checkbox')
      .row
        .col-xs-8.col-xs-offset-4(id='targetbucket')
          img#target(src='#{imgsrc}', alt='[Jcrop Example]')
          button#release Убрать выделение
            button#crop Обрезать
            .inline-labels
              label
                | X1 
                input#x1(type='text', size='4', name='x1')    
              label
                | Y1 
                input#y1(type='text', size='4', name='y1')    
              label
                | X2 
                input#x2(type='text', size='4', name='x2')    
              label
                | Y2 
                input#y2(type='text', size='4', name='y2')    
              label
                | W 
                input#w(type='text', size='4', name='w')    
              label
                | H 
                input#h(type='text', size='4', name='h')
            p Результаты
            #cropresult
    
        
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='/js/jquery.Jcrop.min.js')
      script(src='/js/crop.js')
      script(async src='/js/bootstrap.min.js')
      script.
        document.getElementById("ar_lock").checked = true;
        document.getElementById("size_lock").checked = true;
        
      