doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      } 
      h1 {
        font-family:boldproxima
      }
      .row {
        padding-top:5px;
        padding-bottom:5px;
      }
  body
    .container
      .row(style='padding-bottom:50px;')
        .col-xs-12
          h1 Helpers
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/cs"'  type='button') Show current session
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/seeuser"'  type='button') Show users DB
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/seebooks"'  type='button') Show books DB
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/seemovies"'  type='button') Show movies DB
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/seeauthors"'  type='button') Show authors DB
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/showitems"'  type='button') Show items DB
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-default' onclick='window.location="/showum"'  type='button') Show user_messages DB
      .row 
        .col-xs-3
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropusers"'  type='button') Drop users 
        .col-xs-9
          p This drops 4 databases at once - users, follow, item, user_messages. BUT it leaves userpics - they were always removed manualy with the directory.
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropfollow"'  type='button') Drop follow 
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropmovies"'  type='button') Drop movies 
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropbooks"'  type='button') Drop books 
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropauthors"'  type='button') Drop authors 
      .row 
        .col-xs-12
          button(class='btn btn-lg btn-danger' onclick='window.location="/dropum"'  type='button') Drop user_messages
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')     
     
      