doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Летопись
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
        font-family:proxima;
        src: url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body {
        /*background-color:#1d1d1d;
        background-color:#111;*/
        background-color:#252525;
        position:relative;
      }
      .second-column{
        float:right;
      }
      .navbar{
      background-color: #111;
      }
      .list-group-item {
        border-radius:0px;
        border:none;
        margin-bottom:20px;
        background-color:transparent;
      }
      .list-group-item:last-child{
        border-radius:0px;
        border:none;
        margin-bottom:0px;
      }
      .list-group-item:first-child {
          border-radius:0px;
      }
      #img_cont{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 10px;
      padding-bottom: 20px;
      }
      #main_logo{
          width:200px;
          opacity:0.6;
        }
      .left_column{
      border-right: 8px solid #252525;
        }
      .right_column{
      border-left: 8px solid #252525;
      }
      @media(min-width:768px){
        .navbar-collapse{
      background-color: transparent;
      }
      .navbar-nav{
        font-size:10px;
      }
      .navbar{
        border-radius:0px;
      }
      #img_cont{
        border-bottom: 1px solid #444343;
      }
      }
      @media(max-width:767px){
        #main_row{
          margin-top: -20px;
        }
        #main_logo{
          opacity:1;
        }
        .col-sm-12{
          margin:auto;
        }
        .col-md-8{
          padding-left:0px;
          padding-right:0px;
        }
        .col-sm-12.second-column{
          margin-top:20px;
          float:none;
        }
      .navbar-header{
        background-color:black;
      }
      .modal {
        position: absolute;
        overflow:visible;
      }
      .modal-open {
          overflow:visible;
      }
      }
      @media(max-width:414px){
      .left_column{
      border:none;
        }
      .right_column{
      border:none;
      }
       .list-group-item:first-child{
         margin-top:20px;
         margin-bottom:0px;
         border-top:0px;
       }
       .list-group-item{
         margin-bottom:0px;
       }
      .col-sm-12.second-column {
          margin-top: 0px;
          float: none;
      }
      .col-sm-12{
       border-bottom:1px solid white;
      }
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:0px !important;
          -webkit-appearance:none;
      }
      h5{
        font-size: 10px;
        display: inline;
        margin: 15px;
        letter-spacing: 1px;
        color: #186d51;
        padding-bottom: 4px;
      }
      h5:hover{
        border-bottom:4px solid white;
      }
      h5.current{
        border-bottom:4px solid white;
      } 
      .btn-default{
       color: #adadad;
       background-color: transparent;
       border-color: #444343;
       font-weight: 200;
       font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      }
      .btn-default:hover{
       background-color: #444343;
       color: #ffffff;
       border-color: #444343;
      }
      .btn-default.active:hover{
       background-color: #444343;
       color: #adadad;
      border-color: #444343;
      }
      .btn-default.active{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .btn-default:active{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .btn-default:active:hover{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .bul{
      color: #f35c2b;
      margin-right: 5px;
      font-size: 26px;
      line-height: 0.13;
      vertical-align: middle;
      display:none;
      }
      .btn-default.active .bul{
      display:inline;
      }
      .panel-default{
        border-color: #444343;
        background-color: #353535;
      }
      h4{
      color: rgb(255, 255, 255);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size:14px;
      }
      .sticky {
        position: fixed;
        z-index: 9999;
        width: 100%;
        top:0px;
      }
      .navbar {
       background-color: #ce4141;
      }
      .navbar a {
        color:white;
      }
      p {
      color: #989898;
      }
      .nav>li>a:focus, .nav>li>a:hover {
          text-decoration: none;
          background-color: #a72a2a;
      }
  body(data-spy="scroll" data-target="#navbar" )
    .row(style="background-color:white;padding-top:20px;padding-bottom:20px;margin-left:0px;margin-right:0px;")  
      .col-xs-12
        h1(style='color:#353535;font-size:44px;;text-align:center;font-family:proxima;letter-spacing:4px;') ПРОМСТАТ
        h6(style="text-align: center;color: #b7b7b7;font-weight: 200;letter-spacing: 1px;word-spacing: 4px;text-transform: uppercase;") сравнение характеристик  промышленного оборудования 
    .modal.fade.btn_mod(id='postmodal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      .modal-dialog
        .modal-content
          .modal-header(style='text-align:center;')
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
            h4#heading.modal-title(style='font-family:proxima;text-transform:uppercase;')
          .modal-body(style='text-align:left;padding:0px;')
            img#picture(style='width:100%;')
            .row(style='margin-top:10px;')
              span.glyphicon.glyphicon-link(style='color:#ddd;margin-right:5px;')
              a#link(style='color:#ddd;')
            .row(style='margin-top:10px;')
              #post_body
            .row(style='color:#ddd;margin-top:20px;padding-bottom:20px;')
              span#tags
          .modal-footer.visible-xs.visible-sm(style='padding:0px;border-top:1px solid #eee;')
            button#close_postmodal.btn( type='button' data-dismiss='modal') Закрыть
    nav(class="navbar" style='border:none;')
      .container
        .collapse.navbar-collapse
        ul#navbar.nav.navbar-nav(role="tablist")
          li
            a.active(href="#metal") Металлургия
          li 
            a(href="#roads") Дорожное строительство
          li 
            a(href="#mining") Горнодобыча
    //
      .row(style="text-align: center;padding-top: 20px;padding-bottom: 20px;background-color: #ce4141;")
        .col-xs-2.col-xs-offset-3(style='text-align:right;') 
          h4(style="display:inline;margin: 20px;") Металлургия
        .col-xs-2(style='text-align:center;')
          h4(style="display:inline;margin: 20px;") Дорожное строительство
        .col-xs-2(style='text-align:left;')
          h4(style="display:inline;margin: 20px;") Горнодобыча
    .container(style='/*z-index:2;*/')
      .row.hidden(style='padding-top:50px;padding-bottom:30px;text-align:center;')
        .col-xs-12
          .btn-group
            button#metal.btn.btn-lg.btn-default.active(type='button') 
              span.bul •
              | металлургия
            button#roads.btn.btn-lg.btn-default(type='button')
              span.bul •
              | дорожное строительство
            button#mining.btn.btn-lg.btn-default(type='button')
              span.bul •
              | горнодобыча
      .row#metal
        .col-xs-12
          .panel.panel-default(style='min-height: 400px;')
            .panel-body
              ul.nav.nav-tabs.nav-justified
                li(role="presentation" class="active")
                  a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Первый
                li(role="presentation") 
                  a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Второй
                li(role="presentation") 
                  a(href="#messages" aria-controls="messages" role="tab" data-toggle="tab") Третий
              .tab-content
                .tab-pane.active(role="tabpanel" id="home")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
                .tab-pane(role="tabpanel" id="profile")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                .tab-pane(role="tabpanel" id="messages")
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
      .row#roads
        .col-xs-12
          .panel.panel-default(style='min-height: 400px;')
            .panel-body
              ul.nav.nav-tabs.nav-justified
                li(role="presentation" class="active")
                  a(href="#exk" aria-controls="exk" role="tab" data-toggle="tab") строительные экскаваторы
                li(role="presentation") 
                  a(href="#katok" aria-controls="katok" role="tab" data-toggle="tab") катки асфальтовые
                li(role="presentation") 
                  a(href="#asph" aria-controls="asph" role="tab" data-toggle="tab") асфальтоукладчики
              .tab-content
                .tab-pane.active(role="tabpanel" id="exk")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
                .tab-pane(role="tabpanel" id="katok")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                .tab-pane(role="tabpanel" id="asph")
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
      .row#mining
        .col-xs-12
          .panel.panel-default(style='min-height: 400px;')
            .panel-body
              ul.nav.nav-tabs.nav-justified
                li(role="presentation" class="active")
                  a(href="#first" aria-controls="first" role="tab" data-toggle="tab") строительные экскаваторы
                li(role="presentation") 
                  a(href="#second" aria-controls="second" role="tab" data-toggle="tab") катки асфальтовые
                li(role="presentation") 
                  a(href="#third" aria-controls="third" role="tab" data-toggle="tab") асфальтоукладчики
              .tab-content
                .tab-pane.active(role="tabpanel" id="first")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
                .tab-pane(role="tabpanel" id="second")
                  p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                .tab-pane(role="tabpanel" id="third")
                  p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                  p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script( src='/js/bootstrap.min.js')
      script.
        //$window = $(window);
        //$window.scroll(function() {
        //  $scroll_position = $window.scrollTop();
        //    if ($scroll_position > 140) { // if body is scrolled down by 300 pixels
        //        $('.navbar').addClass('sticky');
        //        // to get rid of jerk
        //        header_height = $('.navbar').innerHeight();
        //        $('body').css('padding-top' , header_height);
        //    } else {
        //        $('body').css('padding-top' , '0');
        //        $('.navbar').removeClass('sticky');
        //    }
        // });
        //$('body').scrollspy({ target: '#navbar' });
        $('#myScrollspy').on('activate.bs.scrollspy', function () {
          console.log('hello');
        });
        //$('#metal').click(function(){
        //  });
        //$('#roads').click(function(){
        //  });
        //$('#mining').click(function(){
        //  });
        //----------------------------//
        function sortByKey(array, key) {
          return array.sort(function(a, b) {
              var x = parseInt(a[key]); var y = parseInt(b[key]);
              return ((x < y) ? 1 : ((x > y) ? -1 : 0));
          });
        }
        String.prototype.capitalizeFirstLetter = function() {
          return this.charAt(0).toUpperCase() + this.slice(1);
        }
        function level() {
          $('#oldcol').height()>$('#newcol').height()?$('#newcol').height($('#oldcol').height()):$('#oldcol').height($('#newcol').height());
        }
        //---------------------------// 
        function postmodal (i) {
         // console.log('redact');
        // TODO screen blocker must be added to prevent user from interfering 
        //if(screen.width<screen.height) {
        //  $('.modal-dialog').css('margin-top','60%');
        //}
        //else{
        //  $('.modal-dialog').css('margin-top','15%');
        //}
        $('#heading').text(consolidated[i].heading);
        $('#link').text(consolidated[i].source_name)
        $('#link').attr('href',consolidated[i].web_link);
        $('#post_body').text(consolidated[i].post_body);
        $('#picture').attr('src',consolidated[i].picture);
        $('#tags').text(consolidated[i].tags);
        $('#postmodal').modal('show');
        }
        
        
        
        
        
        
      