doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Летопись
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
        font-family:proxima;
        src: url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body {
        /*background-color:#1d1d1d;
        background-color:#111;*/
        background-color:#ddd;
      }
      .second-column{
        float:right;
      }
      .navbar{
      background-color: #111;
      }
      #img_cont{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 10px;
      padding-bottom: 20px;
      }
      #main_logo{
          width:200px;
          opacity:0.6;
        }
      .left_column{
      border-right: 8px solid #252525;
        }
      .right_column{
      border-left: 8px solid #252525;
      }
      @media(min-width:768px){
        .navbar-collapse{
      background-color: transparent;
      }
      .navbar-nav{
        font-size:10px;
      }
      .navbar{
        border-radius:0px;
      }
      #img_cont{
        border-bottom: 1px solid #444343;
      }
      }
      @media(max-width:767px){
        #main_row{
          margin-top: -20px;
        }
        #main_logo{
          opacity:1;
        }
        .col-sm-12{
          margin:auto;
        }
        .col-md-8{
          padding-left:0px;
          padding-right:0px;
        }
        .col-sm-12.second-column{
          margin-top:20px;
          float:none;
        }
      .navbar-header{
        background-color:black;
      }
      .modal {
        position: absolute;
        overflow:visible;
      }
      .modal-open {
          overflow:visible;
      }
      }
      @media(max-width:414px){
      .left_column{
      border:none;
        }
      .right_column{
      border:none;
      }
      .col-sm-12.second-column {
          margin-top: 0px;
          float: none;
      }
      .col-sm-12{
       border-bottom:1px solid white;
      }
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:0px !important;
          -webkit-appearance:none;
      }
      h5{
        font-size: 10px;
        display: inline;
        margin: 15px;
        letter-spacing: 1px;
        color: #186d51;
        padding-bottom: 4px;
      }
      h5:hover{
        border-bottom:4px solid white;
      }
      h5.current{
        border-bottom:4px solid white;
      } 
      /*.btn-default{
       color: #adadad;
       background-color: transparent;
       border-color: #444343;
       font-weight: 200;
       font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      }
      .btn-default:hover{
       background-color: #444343;
       color: #ffffff;
       border-color: #444343;
      }
      .btn-default.active:hover{
       background-color: #444343;
       color: #adadad;
      border-color: #444343;
      }
      .btn-default.active{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .btn-default:active{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .btn-default:active:hover{
      color: #adadad;
      background-color: #444343;
      border-color: #444343;
      }
      .bul{
      color: #f35c2b;
      margin-right: 5px;
      font-size: 26px;
      line-height: 0.13;
      vertical-align: middle;
      display:none;
      }
      .btn-default.active .bul{
      display:inline;
      }*/
      .panel-default{
        border-color: gray;
        background-color: #ddd;
      }
      /*h4{
      color: rgb(255, 255, 255);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size:14px;
      }*/
      .sticky {
        position: fixed;
        z-index: 9999;
        width: 100%;
        top:0px;
      }
      .navbar {
       background-color: #ce4141;
      }
      .navbar a {
        color:white;
      }
      p {
      color: #989898;
      }
      .affix{
        top:10px;
      }
      .nav>li>a {
        padding:0px;
        color:#333;
      }
      .cont-fix{
        position:absolute;
       margin-left: auto;
       margin-right: auto;
       left: 0px;
       right: 0px;
      }
      .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #fff;
        background-color: #b73333;
        border-color: #a94442;
      }
      .list-group-item.active a, .list-group-item.active:focus a, .list-group-item.active:hover a{
        color:white;
      } 
      .nav>li>a:focus, .nav>li>a:hover {
          text-decoration: none;
         background-color: transparent; 
      }
      .nav>li:focus, .nav>li:hover {
         background-color: #efefef; 
      }
      .panel{
        border:none;
       background-color:#f5f5f5;
      }
      a.small:first-child{
        border-radius:0px;
      }
      a.small:last-child{
        border-radius:0px;
      }
      a.small{
        background-color:#e8e8e8;
        padding-left: 23px;
      }
  body
    .row#metal(style="/*background-color:white;*/background-color: #dc4242;padding-top:20px;padding-bottom:20px;margin-left:0px;margin-right:0px;")  
        .col-xs-12
          h1(style='/*color:#353535;*/color:white;font-size:44px;;text-align:center;font-family:proxima;letter-spacing:4px;') ПРОМСТАТ
          h6(style="text-align: center;/*color: #b7b7b7;*/color: #a02626;font-weight: 200;letter-spacing: 1px;word-spacing: 4px;text-transform: uppercase;") сравнение характеристик  промышленного оборудования 
    .container.cont-fix
      .row.row-offcanvas.row-offcanvas-left
        .col-sm-3#navbar
          //
            .collapse.navbar-collapse#navbar(data-spy="affix" data-offset-top="60" data-offset-bottom="200" style='height:100%;')
              ul.nav.navbar-nav(role="tablist")
                li
                  a(href="#metal") Металлургия
                li 
                  a(href="#roads") Дорожное строительство
                li 
                  a(href="#mining") Горнодобыча 
              ---------------------
            ul.list-group.nav#lg(data-spy="affix" data-offset-top="141" style='margin-top:20px;')
              li.list-group-item
                a(href="#metal") Металл
              li.list-group-item
                span.badge 3
                a(href="#roads") 
                  | Дорожное строительство
              li.list-group-item
                a(href="#mining") Горнодобыча
              li.list-group-item.disabled
                a(href="#") По мере наполнения здесь будут появлятся новые разделы
          .panel.list-group#lg(data-spy="affix" data-offset-top="141" style='margin-top:20px;')
              a(href="#" class="list-group-item") Металлургия 
                span(class="label label-info") 0 
              a(href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu") Дорожное строительство 
                span(class="label label-info") 3
              #sm(class="sublinks collapse")
                a(class="list-group-item small") Строительные экскаваторы
                a(class="list-group-item small") Катки асфальтовые
                a(class="list-group-item small") Асфальтоукладчики
              a(href="#" class="list-group-item") Горнодобыча 
               span(class="label label-info") 0 
    
          //
            .list-group.nav#lg(data-spy="affix" data-offset-top="141" style='margin-top:20px;')
              a(href="#metal" class="list-group-item") Металургия
              a(href="#roads" class="list-group-item") Дорожное строительство
              a(href="#mining" class="list-group-item") Горнодобыча

        .col-sm-9
            h3#roads Дорожное строительство
            .panel.panel-default(style='min-height: 400px;')
              .panel-body
                .dropdown
                  button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Выберите тип оборудования
                    span.caret(style='margin-left:5px;')
                  ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                    li
                      a(href="#") Строительные экскаваторы
                    li
                      a(href="#") Катки асфальтовые
                    li
                      a(href="#") Асфальтоукладчики
                  //  
                    ul.nav.nav-tabs.nav-justified
                      li(role="presentation" class="active")
                        a(href="#exk" aria-controls="exk" role="tab" data-toggle="tab") строительные экскаваторы
                      li(role="presentation") 
                        a(href="#katok" aria-controls="katok" role="tab" data-toggle="tab") катки асфальтовые
                      li(role="presentation") 
                        a(href="#asph" aria-controls="asph" role="tab" data-toggle="tab") асфальтоукладчики
                .tab-content
                  .tab-pane.active(role="tabpanel" id="exk")
                    p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                    p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                    p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                    p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.
                  .tab-pane(role="tabpanel" id="katok")
                    p Quo inventore natus enim. Reprehenderit est ipsum distinctio animi. Quibusdam rem aut magni quo.
                    p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                  .tab-pane(role="tabpanel" id="asph")
                    p Reprehenderit soluta recusandae vitae et. In nisi minima rem assumenda impedit et non voluptate. Iure consequatur minus consectetur reiciendis corrupti voluptas facilis occaecati.
                    p Necessitatibus earum velit id sed ut suscipit. Soluta voluptatem necessitatibus ducimus. Consequuntur eum maiores debitis eos fugit dolore eaque dolor. Adipisci eum ratione impedit soluta voluptate odio.
                    p Totam quo magnam ipsa autem fuga quasi non. Porro dignissimos at laboriosam nemo. Nemo dolores expedita dolor maxime maxime mollitia autem esse. Maxime quo sit deserunt atque ducimus ad amet. Est sit incidunt ut blanditiis dolores cumque voluptates similique. Fuga est reprehenderit praesentium et fugiat.

    #footer
      .row(style='padding-top:30px;padding-bottom:30px;background-color:#111')
        .col-xs-12(style='text-align:center;padding-top:15px;padding-bottom:20px;')
          h5 О ПРОЕКТЕ
          h5 КОНТАКТЫ
        .col-xs-12(style='text-align:center;margin-top:20px;')
          h6 2017
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script( src='/js/bootstrap.min.js')
      script.
        $('#lg').on('affixed.bs.affix',function(){
          $('#lg').css('width',$('.col-sm-3').width());
          });
        //-------------//
        //$('#metal').click(function(){
        //  });
        //$('#roads').click(function(){
        //  });
        //$('#mining').click(function(){
        //  });
        //---------------------------// 
        function postmodal (i) {
         // console.log('redact');
        // TODO screen blocker must be added to prevent user from interfering 
        //if(screen.width<screen.height) {
        //  $('.modal-dialog').css('margin-top','60%');
        //}
        //else{
        //  $('.modal-dialog').css('margin-top','15%');
        //}
        $('#heading').text(consolidated[i].heading);
        $('#link').text(consolidated[i].source_name)
        $('#link').attr('href',consolidated[i].web_link);
        $('#post_body').text(consolidated[i].post_body);
        $('#picture').attr('src',consolidated[i].picture);
        $('#tags').text(consolidated[i].tags);
        $('#postmodal').modal('show');
        }
        
        
        
        
        
        
      