doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title P&B     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      #savebutton {
        border-top:1px solid #eee;
        padding-top:20px;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      li a {
        font-size:20px;
        letter-spacing:1px;
        padding-top:15px !important;
        padding-bottom:15px !important;
      }
      #savebutton {
        text-align:center;
      }
      #mainframe {
      margin-top:0px;
      }
      #userimg {
      width:130px;
      height:130px;
      }
      .book {
      border-bottom:1px solid #eee;
      text-align:center;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      #userimg {
      width:150px;
      height:150px;
      }
      .things{
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      .btn-iosdark {
        background-color:white;
        border:1px solid #333;
        color:#333;
      }
      .btn-iosdark:focus, .btn-iosdark:active, .btn-iosdark:hover {
        background-color:#333;
        color:white;
      }
      .btn-iosdark.active {
        background-color:#333;
        color:white;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      dl {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      dl dt,dd {
        margin-top:5px;
        margin-bottom:5px;
      }
      form {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
      .setrow {
        padding-bottom:20px;
      }
      .btn {
        margin-top:20px;
        text-transform:uppercase;
        letter-spacing:2px;
      }
       .btn-primary:focus, btn.primary:active, .btn-primary:hover {
        border-color:#2988DA;
        background-color:#2988DA;
      }
      .btn-primary{
        background-color:#2E98F3;
        border-color:#2E98F3;
      }
      h4 {
        margin-top:20px;
        font-weight:200;
      }
      .btn-file {
          position: relative;
          overflow: hidden;
      }
      .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
      }
      .form-control{
        background-color:white;
        border-color:#333;
        border-left: none;
      }
      .form-control[readonly] {
        background-color:white;
      }
      .form-control:focus , .form-control:active {
       border-color: #333;
       outline: 0px none;
       box-shadow: none;
      }
      .btn.active, .btn:active, .btn:focus {
       -webkit-box-shadow:none;
       box-shadow:none;
      }
  body(style='background-color:#fbfbfb;')
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(style='border:0px;margin-bottom:0px;')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar         
            span.icon-bar       
          a.navbar-brand(style='padding-top:5px;', href='/')
            img(src='/images/pb_inf_logo.png', style='border:1px solid #444;border-radius:50%;', height='40', width='40')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')  My lists 
            li
              a( id='chat' href='/chat') Messages             
            li
              a(href='/people') People           
            li.active
              a(href='/settings')  Settings             
            li
              a(href='/about')  About         
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Logout    
    .container(style='padding-top:50px;height:100%;background-color:white;')  
      .row.visible-lg.visible-md.visible-sm(style='height:50px;')
      .row.visible-xs(style='border-bottom:1px solid #eee;text-align:center;padding-bottom:10px;')
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
          h3(style='font-weight:200;color:#ddd;') Settings     
      .row.setrow
        .col-xs-12.col-lg-4.col-lg-offset-1.col-md-6.col-md-offset-1
          h4 Userpic upload
          //
            form(method='post',action='/usrp',role='form', enctype='multipart/form-data', id='picform')
              .form-group
                input(type="file" id='userpic' name='userpic' )
                p(class="help-block") Jpg images only
              button(class='btn btn-iosdark' type='button' id='picupload') Upload
          form(method='post',action='/usrp',role='form', enctype='multipart/form-data', id='picform')
            .input-group
              span.input-group-btn
                span.btn.btn-iosdark.btn-file(style='margin-top:0px;') Browse&hellip; 
                  input(type="file" id='userpic' name='userpic' multiple)
              input(type="text" class="form-control" readonly)
            span.help-block Jpg images only
      .row.setrow
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1(style='border-top:1px solid #eee;')
          h4 Would you like your lists private?
          .btn-group(style='display:inline-block;'  role="group" aria-label="...")
            button(type="button" id='bpr' class="btn btncorr btn-iosdark") Private
            button(type="button" id='bpb' class="btn btncorr btn-iosdark") Public
      //
        .row.setrow
          .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1(style='border-top:1px solid #eee;')
            h4 Allow users to send you messages straight away, or request to authorise chat first ? 
            .btn-group(style='display:inline-block;'  role="group" aria-label="...")
              button(type="button" class="btn btncorr btn-iosdark") Request
              button(type="button" class="btn btncorr btn-iosdark active") No request
      .row.setrow.visible-lg.visible-md.visible-sm
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1(style='border-top:1px solid #eee;')
          button(class='btn btn-primary setsub') Save
      .row.setrow.visible-xs
        .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1(style='border-top:1px solid #eee;text-align:center;')
          button(class='btn btn-primary setsub') Save
      //
        .row
          .col-xs-12.col-lg-10.col-lg-offfset-1.col-md-10.col-md-offset-1
            .panel.panel-default
              .panel-body
                dl
                  dt Userpic upload
                  dd
                    form(method='post',action='/usrp',role='form', enctype='multipart/form-data', id='picform')
                      .form-group
                        //label(for="exampleInputFile") Userpic upload
                        input(type="file" id='userpic' name='userpic' )
                        p(class="help-block") Jpg images only
                      button(class='btn btn-warning' type='button' id='picupload') Upload
                .row(style='border-top:1px solid #eee;')
                dl  
                  dt Would you like your lists private ?
                  dd
                    .btn-group(style='display:inline-block;'  role="group" aria-label="...")
                      button(type="button" class="btn btncorr btn-default active") Private
                      button(type="button" class="btn btncorr btn-default") Public
                .row(style='border-top:1px solid #eee;')
                dl
                  dt Allow users to send you messages straight away, or request to authorise chat first ? 
                  dd
                    .btn-group(style='display:inline-block;'  role="group" aria-label="...")
                      button(type="button" class="btn btncorr btn-default active") Request
                      button(type="button" class="btn btncorr btn-default") No request
                .row#savebutton 
                  .col-xs-12
                    button(class='btn btn-primary' id='setsub') Save
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js') 
    script.  
      var user = !{JSON.stringify(done)};
      user= JSON.parse(user);
      if(user.pub) {
        $('#bpb').addClass('active');
      }
      else {
        $('#bpr').addClass('active');
      }
      $('#picupload').click(function(){
        if( document.getElementById("userpic").files.length == 0 ){
        alert('Select an image');
       }
       else {
         $('#picform').submit();
       }
        });
      $('#bpb').click(function(){
        if($('#bpb').hasClass('active')){
        }
        else {
          $('#bpr').removeClass('active');
          $('#bpb').addClass('active');
        }
        });
      $('#bpr').click(function(){
        if($('#bpr').hasClass('active')){
        }
        else {
          $('#bpb').removeClass('active');
          $('#bpr').addClass('active');
        }
        });
      $('.setsub').click(setsubmit);
      function setsubmit() {
      var pub=0;
      if($('#bpb').hasClass('active')) {
        pub =1;
      }
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var index;
      parsed = JSON.parse(request.responseText);
      console.log(parsed);
      if(parsed.trouble === 1)
      {
       
      }
      else {
      //success
      }
      }
      };
      request.open('POST', '/settings', true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send("pub="+pub);
      }
      $(document).on('change', '.btn-file :file', function() {
          //var input = $(this),
          //    numFiles = input.get(0).files ? input.get(0).files.length : 1,
          //    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          //input.trigger('fileselect', [numFiles, label]);
          console.log('hey');
          $('#picform').submit();
      });
