doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      #mainheading {
        text-align:center;
        margin-top:90px;
      }
      #signin {
        padding-top:60px;
        text-align:center;
      }
      @media (max-width: 767px) {
      #mainheading {
        margin-top:20px;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        padding-top:30px;
      }
      }
      @media (max-width: 992px) {
       #mainheading {
        margin-top:60px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      #userimg {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      border:7px solid white;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      a:hover, a:focus, a:active {
      text-decoration:none !important;
      color:inherit !important;
      }
      .navbar-inverse .navbar-nav>li>a {
        font-weight:200;
      }
      .btn-warning {
        background-color:#ff9900;
        border-color:#ff9900;
        color:white;
        font-weight:200;
       letter-spacing:1px;
       text-transform: uppercase;
      }
      .form-control {
        border-color:#eee;
      }
      .btn-warning:focus, .btn-warning:active, .btn-warning:hover {
        background-color:#EC971F;
        border-color:#EC971F;
        color:white;
      }
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(style='border:0px;margin-bottom:0px;')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar         
            span.icon-bar       
          a.navbar-brand(style='padding-top:5px;', href='#')
            img(src='/images/pb_inf_logo.png', style='border:1px solid #444;border-radius:50%;', height='40', width='40')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')  Sign up            
            li
              a(href='/about')  About  
    .container(style='padding-top:50px;')
      #mainheading.row
        .col-xs-12
          h1(style='text-transform:uppercase;letter-spacing:4px;font-weight:200;') Sign in
      .row#signin
        .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4     
          form(class="form-horizontal paddgroup")
            .form-group
              .message
            .form-group
              input(type="email" class="form-control" id="mail" name='mail' placeholder="Email")
            .form-group 
              input(type="password" class="form-control" id="p" name='p' placeholder="Password")
            .form-group(style='padding-top:30px;') 
              button(type="button" id='login' class=" btn btn-warning") Sign in
         
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')     
    script.
      $('#login').click(authsubmit);
      $(document).keypress(function(e) { 
          var temp_mail = $('#mail').val();
          var temp_p = $('#p').val();
          console.log('s: '+temp_mail+' '+temp_p);
          if(e.which == 13 && temp_mail && temp_p) {
              authsubmit();
          }
      });
      //-------REGISTER--------
      function validateEmail(email) { 
      console.log('checking email');
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);} 
      //--------------------
      // AUTHSUBMIT FUNCTION
      //--------------------
      var allowauth = 1;
      function authsubmit() {
      allowauth = 0;
      var vlgn = $('#mail').val();
      var vphr = $('#p').val();
      console.log(vlgn +" , "+vphr);
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var index;
      parsed = JSON.parse(request.responseText);
      console.log(parsed);
      if(parsed.trouble === 1)
      {
      console.log('TROUBLE === 1');
      switch (parsed.mtext){
      case('db'):
      $('.message').empty();
      $('.message').append("<h5 style='color:#fc454e;'>Sorry, omething is slightly off with the DB, try again in a couple of minutes or contact support</h5>");
      allowauth = 1;
      break;
      case('wrong pas'):
      $('.message').empty();
      $('.message').append("<h5 style='color:#fc454e;'>Wrong password</h5>");
      allowauth = 1;
      break;
      case('wronguser'):
      $('.message').empty();
      $('.message').append("<h5 style='color:#fc454e;'>Wrong email</h5>");
      allowauth =1;
      break;
      }}
      else {
      window.location = 'http://vntrlst.com';
      }
      }
      };
      request.open('POST', '/check', true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      //Most libraries like jQuery/Prototype/Dojo do this
      request.send("phr="+vphr+"&lgn="+vlgn);
      }
      //END OF AUTHSUBMIT FUNCTION
        
