doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title P&B
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')       
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')  
    script(src="js/jquery.min.js")
    script(src="js/jquery.Jcrop.min.js")
    script(src="js/crop.js")
    link(rel="stylesheet" href="/bootstrap/css/jquery.Jcrop.css"  type="text/css")   
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      body {
      min-width:768px;
      font-family:roboto-thin;
      }
      #crop {
          display:none;
      }
      #cropresult {
          border:2px solid #ddd;
      }
      .mini{
          margin:5px;
      }     
  body 
    .container(style='background-color:#eee;')
      .row(style='background-color:white;')
        .col-xs-12
          h2 Hey
      .row
        .col-xs-8.col-xs-offset-4(id='targetbucket')
          img#target(src='images/pp.jpeg', alt='[Jcrop Example]')
          button#release &Ucy;&bcy;&rcy;&acy;&tcy;&softcy; &vcy;&ycy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&iecy;
            button#crop &Ocy;&bcy;&rcy;&iecy;&zcy;&acy;&tcy;&softcy;
            .optlist.offset
              label
                input#ar_lock(type='checkbox')
                | &Scy;&ocy;&bcy;&lcy;&yucy;&dcy;&acy;&tcy;&softcy; &pcy;&rcy;&ocy;&pcy;&ocy;&rcy;&tscy;&icy;&icy; (4:3)
              |     
              label
                input#size_lock(type='checkbox')
                | min/max &rcy;&acy;&zcy;&mcy;&iecy;&rcy; (80x80/350x350)
            .inline-labels
              label
                | X1 
                input#x1(type='text', size='4', name='x1')
              |    
              label
                | Y1 
                input#y1(type='text', size='4', name='y1')
              |    
              label
                | X2 
                input#x2(type='text', size='4', name='x2')
              |    
              label
                | Y2 
                input#y2(type='text', size='4', name='y2')
              |    
              label
                | W 
                input#w(type='text', size='4', name='w')
              |    
              label
                | H 
                input#h(type='text', size='4', name='h')
            p &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy;:
            #cropresult
      .row
        .col-xs-6
          form(method='post',action='/usrp',id='file-form',role='form', enctype='multipart/form-data')
            .input-group(style='margin-bottom:5px;')
              span(class="input-group-addon" id="sizing-addon1") картинка
              input(type="file" id='userpic' class="form-control" aria-describedby="sizing-addon1" name='userpic') 
            button(type='submit' id='sbtn' class='btn btn-lg btn-primary') Загрузить
        
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(async src='/js/bootstrap.min.js')
      script.
        var form = document.getElementById('file-form');
        var fileSelect = document.getElementById('userpic');
        var uploadButton = document.getElementById('sbtn');
      
        form.onsubmit = function(event) {
          event.preventDefault();
        
          // Update button text.
          uploadButton.innerHTML = 'Загрузка...';
        
            // Get the selected files from the input.
          var files = fileSelect.files;
          console.log('files: '+files);

          
            // Create a new FormData object.
          var formData = new FormData();
          var file = files[0];
          // if (!file.type.match('image.*')) {
          //  continue;
          //}  
          //else {alert('not a picture!');}
        
                  // Add the file to the request.
          formData.append('userimage', file, file.name);
          var xhr = new XMLHttpRequest();

        

           // Open the connection.
          xhr.open('POST', '/usrp', true);
          
            // Set up a handler for when the request finishes.
          xhr.onload = function () {
            if (xhr.status === 200) {
              // File(s) uploaded.
              parsed = JSON.parse(xhr.responseText);
              alert(parsed.mtext);
              uploadButton.innerHTML = 'Загрузили!';
              var newimg = '<img id="target" src="/userpics/'+file.name+'"></img>';
              $('#target').remove();
              $('#targetbucket').append(newimg);
            } else {
              alert('An error occurred!');
            }
          };
          
           // Send the Data.
          xhr.send(formData);
        }

        
      