doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="yandex-verification" content="a60d92fc70af3d6a")
    |     
    title P&B
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
        font-family:proxima;
        src: url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body {
      min-width:768px;
      font-family:roboto-thin;
      }
      .navbar-nav {
       float: right;
      }
      .cbp-spmenu {
        background: #1d1d1d;
        position: fixed;
      }
      
      .cbp-spmenu h3 {
        color: skyblue;
        font-size: 1.9em;
        padding: 20px;
        padding-top:27px;
        margin: 0;
        font-weight: 300;
      }
      
      .cbp-spmenu a {
        display: block;
        color: white;
        font-size: 1.1em;
        font-weight: 300;
      }
      
      .cbp-spmenu a:hover {
        background: #333;
        text-decoration:none !important;
      }
      
      .cbp-spmenu a:active {
        background: #afdefa;
        color: #47a3da;
      }
      .cbp-spmenu-vertical {
        width: 240px;
        margin-left:74px;
        border-left:1px solid #333;
        height: 100%;
        top: 0;
        z-index: 1000;
      }
      
      .cbp-spmenu-vertical a {
        padding: 1em;
      }
      .cbp-spmenu-left {
        left: -240px;
      }
      .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
      }
      .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
      }
      
      .cbp-spmenu-push-toright {
        left: 240px;
      }
      
      .cbp-spmenu-push-toleft {
        left: -240px;
      }
      .cbp-spmenu,
      .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .container {
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      .navbar-right {
        float: none !important; 
      }
      .navbar-form {
        padding-top: 6 !important;
      }
      input[type="text"], textarea {
      outline: none;
      box-shadow:none !important;
      }
      .datecl {
        color:#333;
      }
      .yet{
       color:white;
      }
      .alreadyb{
      color:rgba(0, 0, 0, 0.27);
      }
      .alreadym{
      color:rgba(255, 255, 255, 0.21);
      }
      .leftPaddingExtended{
        padding-left:30px;
      }
      textarea:hover, 
      input:hover, 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      button:focus,
      button:active,
      button:hover
      {
          outline:0px !important;
          -webkit-appearance:none;
      }
      .bckgrnd {
      width:100%;
      height:100%;
      background-image:url('/bootstrap/images/books.jpg');
      position:fixed;
      background-color:#A1D0C0;
      background-position:center;
      background-size: cover;
      background-repeat:no-repeat;
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
      -moz-filter: brightness(0.6);
      -o-filter: brightness(0.6);
      transition: 0.5s -webkit-filter linear;
        transition: 0.5s -webkit-filter linear;
        transition: 0.5s -moz-filter linear;
        -webkit-transition: 0.5s -webkit-filter linear;
        -moz-transition: 0.5s -moz-filter linear;
      }
      nav ul li a {
        border:0px !important;
        background-color:rgba(255, 255, 255, 0.26) !important;
        color:white !important;
      }
  body(style='background-color:white;')
    .container
      .row(style='text-align:center;padding-top:15%;padding-bottom:20px;height:800px;background-color:#f44;')
        .col-xs-12
          h1(style='font-size:50px;font-family:proxima;color:white;') Happy birthday radio-t ! 
          h3(style='color:white;') Our favourite tech podcast
          h1(style='font-size:200px;color:white;') 10
      .row(style='height:800px;background-color:#c73535;')
        .col-xs-12(style='text-align:center;padding-top:30%;')
          h2(style='font-family:proxima;margin-bottom:30px;') Любимому подкасту 10 лет
          h3 Когда-то давным-давно я начал слушать подкаст о котором прочитал в интернете, спустя десят лет он по-прежнему в эфире. Хочу пожелать любимым ведущим uptime пять девяток и продолжать радовать нас по субботам, а мне и остальным радиослушателям – пятидневной рабочей недели. (-:
          h6(style='margin-top:30px;') ANONYMOUS
      .row(style='height:500px;padding-top:15%;text-align:center;background-color:#982f2f;')
        .col-xs-6.col-xs-offset-3
          h2(style='font-family:proxima;color:white;') Оставьте пожелание
          h5(style='color:white;margin-bottom:5%;') Потом постараюсь договориться, чтобы повесили на поддомен как монумент
          form
            input(class='form-control' type='text' style='margin-bottom:5px;' id='author' name='mail' placeholder='как вы хотите войти в историю')
            textarea(class='form-control' type='text' id='comment' name='comment' placeholder='текст поздравления')
            button(id='sendcomment' class='btn btn-primary' style='margin-top:20px;' type='button') Поздравить
      script(src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript")
      script(type="text/javascript")
       try { var yaCounter39286525 = new Ya.Metrika({ id:39286525, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { }
      noscript
        div
          img(src="https://mc.yandex.ru/watch/39286525" style="position:absolute; left:-9999px;" alt="")
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(async src='/js/bootstrap.min.js')
      script.
        $('#sendcomment').click(function(){
          if($('#author').val()&&$('#comment').val()) {
          sendcmnt();
        }
        else {
          return 1;
          }
        });
        function sendcmnt() {
        var vauth = $('#author').val();
        var vcmnt = $('#comment').val();
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var index;
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        alert('Bad request. Try again later.');
        }
        else {
        alert('Спасибо! \n Опубликуем после модерации');
        setTimeout("window.location = 'http://happybirthdayradiot.com'", 1500)
        }
        }
        };
        request.open('POST', '/comment', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        request.send("au="+vauth+"&cm="+vcmnt);
        }
        //END OF AUTHSUBMIT FUNCTION
        var consolidated =[];
        $.ajax({
              method: "POST",
              url: "/getcomments",
              data: 0
            })
              .done(function( msg ) {
                if(!msg.trouble) {
                  console.log('movies: '+msg.doc);
                   var comments=msg.doc;
                  if(!comments || !comments.length) {
                   console.log('no movies');
                   }
                   else {
                    comments.forEach(function (element,index){
                    element.item_type = 'comment';
                    consolidated.push(element);
                    });
                   }
                   if(consolidated.length){
                   sortByKey(consolidated, 'regdate');
                   populate(consolidated);
                 }
                }
              });
        function populate(consolidated) {
         consolidated.forEach(function (element,index){
            if($(".noitemsnew")[0]&&element.newmovie)
                   { console.log('HAS LENGTH');
                     $('#newmovies').empty();}
            if($(".noitemsold")[0]&&!element.newmovie)
                   { console.log('HAS LENGTH');
                     $('#oldmovies').empty();}
           var insert;
                if(element.star&&!element.newmovie){
                     console.log('1st case');
                     insert = "<tr class='pop movie_"+element._id+"' id='"+element._id+"' onclick='redactmoviemodal("+index+")'><th style='padding-left:15px !important;'><span style='margin-right:5px;' class='glyphicon glyphicon-star'></span>"+element.movietitle+"</th><th>"+element.year+"</th></tr>";
                     }else{
                     console.log('2st case');
                      insert = "<tr class='pop movie_"+element._id+"' id='"+element._id+"' onclick='redactmoviemodal("+index+")'><th style='padding-left:39px !important;'>"+element.movietitle+"</th><th>"+element.year+"</th></tr>"; 
                   }  
            if(element.newmovie){  
               $('#newmovies').prepend(insert);
           }
           else {
            $('#oldmovies').prepend(insert);
           }
           });
          level();
          } 

        
      