doc
html(lang='en')
head
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title C     
    link(rel='icon', href='', sizes='16x16', type='image/png')
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')     
    meta(liber de amicitia est)
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      #leftpanel {
      border-right:1px solid #eee;
      min-width:100px;
      padding-top:25px;
      }
      #mainframe {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      margin-top:50px;
      background-color:white;
      border-radius:10px;
      margin-bottom:30px;
      }
      #userimg {
      -webkit-box-shadow: -9px 0px 40px 0px #c7c7c7;
      -moz-box-shadow: -9px 0px 40px 0px #c7c7c7;
      box-shadow: -9px 0px 40px 0px #c7c7c7;
      width:100%;
      }
      .emptybook {
      padding-left:23px;
      }
      .book h4 {
      color:black;
      }
      .book:hover {
      background-color:#eee;
      }
      .book {
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #eee;
      }
      #booklist {
      background-color:#F7F7F7;
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
      }
      .list {
      overflow:auto;
      min-height:500px;
      max-height:70vh;
      text-align:center;
      padding-top:50px;
      }
      #signup {
        padding-top:50px;
        padding-bottom:100px;
      }
      @media (max-width: 767px) {
      #mainframe {
      margin-top:0px;
      }
      #userimg {
      width:130px;
      height:130px;
      }
      .book {
      border-bottom:1px solid #eee;
      text-align:center;
      padding-left:15px;
      padding-right:15px;
      }
      .emptybook {
      margin-left:0px;
      }
      #leftpanel {
      border-right:0px;
      }
      #booklist {
      border-bottom-left-radius:10px;
      }
      
      .list {
        max-height:inherit;
      }
      .paddgroup {
      padding-left:25px;
      padding-right:25px;
      }
      #signup {
        background-color:#333;
      }
      }
      @media (max-width: 992px) {
      #booklist {
      border-bottom-left-radius:10px;
      }
      #userimg {
      width:150px;
      height:150px;
      }
      .things{
      padding-top:50px;
      }
      .list {
      padding-top:50px;
      }
      }
      @font-face {
      font-family:roboto-thin;
      src: url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face{
      font-family:proxima;
      src:url('/bootstrap/fonts/ProximaNova-Reg-webfont.woff');
      }
      @font-face{
      font-family:boldproxima;
      src:url('/bootstrap/fonts/ProximaNova-Sbold-webfont.woff');
      }
      body {
      background-color:#eee;
      font-family:roboto-thin;
      }
      h1{
      font-family:intro;
      }
      h2{
      font-family:boldproxima;
      text-transform:uppercase;
      }
      h4 {
      color:gray;
      }
      .thin {
      height:85%;
      }
      .inleftblock {
      border-bottom:1px solid #eee;
      color:gray;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      }
      .inleftblock:hover {
      background-color: #333;
      color:white;
      }
      .inleftblock:hover h4 {
      color:white;
      }
      .glyphicon {
      margin-right:5px;
      }
      .btncorr {
      font-family:boldproxima;
      text-transform:uppercase;
      }
      .img-circle {
      -webkit-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      -moz-filter: brightness(0.9) contrast(1.2) saturate(1.2);
      filter:brightness(0.9) contrast(1.2) saturate(1.2);
      }
      #heyopen {
      -webkit-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      box-shadow: inset 0px 7px 17px -9px rgba(0,0,0,0.75);
      }
      .btn {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .btn-success {
      background-color:#23BBA7;
      }
      .btn-success:hover {
      background-color:#1F9E8E;
      } 
      a:hover, a:focus, a:active {
        text-decoration:none !important;
        color:inherit !important;
      }
      p{
        text-indent:20px;
        font-size:18px;
      }
      .cpadding {
       padding-left:30px;
       padding-right:30px;
      }
      .txtleft {
        text-align:left;
      }
      ol li {
      margin-bottom: 10px;
      font-size:18px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      #extra {
        display:none;
      }
      #add {
        display:none;
      }
      .btn:focus,.btn:active {
         outline: none !important;
      }
  body
    .container(id='add' style='background-color:rgba(0, 0, 0, 0.63);position:fixed;width:100%;height:100%;z-index:9999;overflow:auto;')
      .row(style='background-color:white;border-radius:10px;width:600px;margin:auto;margin-top:100px;margin-bottom:30px;') 
        .col-xs-12
          .row(style='background-color:#eee;text-align:center;border-top-left-radius:10px;border-top-right-radius:10px;padding-top:15px;padding-bottom:15px;')
            .col-xs-12
              h2(style='color:#bfbfbf;') Adding items to your list
          .row.cpadding.txtleft(style='padding-top:10px;')
            .col-xs-12
              form
                .form-group
                  label(for="title") Titile
                  input(type="text" class="form-control" id="title" placeholder="War and Peace")
                .well
                  .form-group
                    label(for="author") Author name
                    input(type="text" class="form-control" id="author0_name" placeholder="Leo")
                  .form.-group
                    label(for="author") Author surname
                    input(type="text" class="form-control" id="author0_surname" placeholder="Tolstoy")

          .row.cpadding(style='text-align:left;')
            .col-xs-12
              .btn-group(style='margin-bottom:15px;')
                button(class='btn btn-lg btn-warning active' id='newbook' type='button') New
                button(class=' btn btn-lg btn-warning' id='oldbook'  type='button' )  I've read it
              .btn-group.pull-right(style='margin-bottom:15px;')
                button(class='btn btn-lg btn-default active' type='button') Nonfiction
                button(class=' btn btn-lg btn-default'  type='button' ) Fiction
          .row.cpadding.txtleft(id='extra')
            .col-xs-12
              form
                .form-group(style='margin-bottom:0px;')
                  label(for="authors") Additional authors
                .btn-group#authors(style='margin-bottom:15px;')
                  button(class='btn btn-lg btn-default' type='button') Add
                  button(class=' btn btn-lg btn-default'  type='button' )  Remove
                .form-group
                  label(for="isbn") ISBN
                  input(type="text" class="form-control" id="isbn" placeholder="ISBN")
          .row.cpadding(style='padding-bottom:30px;text-align:center;padding-top:20px;border-top:1px solid #ddd;')
            .col-xs-12
              .btn-group
                button(class=' btn btn-lg btn-default'  type='button' id='openextra')  Extra
                button(class='btn btn-success btn-lg'  id='closenews') Add item
                button(class=' btn btn-lg btn-default' id='closeadd' type='button')  Close
             
    .container#main
      #mainframe.row.cuttop
        #leftpanel.thun.col-md-2
          #{avatar}
          h3(style='text-align:center;') 341 
            span(style='color:#ddd;') /
            | 1544
          .row(style='border-top:1px solid #eee;') 
          .inleftblock.row.visible-lg.visible-md(id='openadd')
             .col-xs-12
               h4 
                 span(style ='color:#23BBA7;' class='glyphicon glyphicon-plus') 
                 | Add item
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12(style='background-color:#333;color:white;')
              a(href='/')
                h4  Lists   
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/chat')
                h4  Messages       
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/people')
                h4  People 
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/settings')
                h4  Settings    
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/about')
                h4  About   
          .inleftblock.row.visible-lg.visible-md
            .col-xs-12
              a(href='/logout')
                h4  Logout      
        #booklist.thun.col-md-10
          .row.visible-lg.visible-md(style='background-color:#333;border-top-right-radius:10px;')
            .col-xs-12
              h2(style='color:white;') user №#{user} 
              h4(style='color:#ff9900;font-family:boldproxima;text-transform:uppercase;') Books 
                span
                  a(style='color:#545454;' href='#') / Films                                     
          #mobilehead.row.visible-sm.visible-xs(style='background-color:#333;box-shadow: 0 5px 25px -5px #333;')
            .col-xs-12(style='min-width:100px;text-align:center;padding-bottom:10px;')
              h2(style='color:white;text-align:center;') user №#{user} 
              .btn-group(style='display:inline-block;'  role="group" aria-label="...")
                button(type="button" class="btn btncorr btn-default active") XBooks
                button(type="button" class="btn btncorr btn-default") XFilms                  
          .list.row
            .col-xs-12(style='padding:top:100px;')
              h2 Welcome to Clandestine
              p(style='text-align:left;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;') You are supplied with id number wich will act as your username, you can upload a userpic, but please, don't be silly with it. From now on you can add items to your lists through 
                button(class='btn btn-default')
                  span(style ='color:#23BBA7;' class='glyphicon glyphicon-plus') 
                  | Add item 
                |  dutton located on the left panel. You can share your id, so other people can follow your lists and chat with you.
              p(style='text-align:left;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;') You can look people up by books they have listed. To do that simply touch a book from your list and click 
                button(class='btn btn-warning')
                  span(style ='color:white;' class='glyphicon glyphicon-user') 
                  | People
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')     
    script.
      $('#openadd').click(function(){
        $('#add').css('display','block');
        $('#main').css('overflow','hidden');
        });
      $('#closeadd').click(function(){
        $('#add').css('display','none'); 
        $('#main').css('overflow','auto');
        });
      $('#openextra').click(function(){
        $('#extra').slideToggle();
        }); 
      $('#oldbook').click(function(){
        if($('#oldbook').hasClass('active')){
        }
        else{
          $('#oldbook').addClass('active');
          $('#newbook').removeClass('active');
        }
        });
      $('#newbook').click(function(){
        if($('#newbook').hasClass('active')){
        }
        else{
          $('#newbook').addClass('active');
          $('#oldbook').removeClass('active');
        }
        });
      var lastentry;
      $('#text').keyup(function(event) {
        if($('#title').val() != lastentry) {       
          //$('div').append('TEST'+$(this).val()+"<br>");
          $.ajax({
            method: "POST",
            url: "/livesearch/title",
            data: { txt: $('#title').val() }
          })
            .done(function( msg ) {
              alert( "Data Saved: " + msg );
            }); 
        }
       lastentry = $('#text').val()
      });
      